<template>
    <lightning-record-edit-form object-api-name={editFormObject}>
        <lightning-messages>
        </lightning-messages>
            <template for:each={inputApiName} for:item="inputName">
                <lightning-input-field field-name={inputName} key={inputName} class="testInp"
                    onchange={reloadFields}
                ></lightning-input-field>
            </template>
            <lightning-button
                class="slds-m-top_small"
                type="submit"
                label="Create new">
            </lightning-button>
    </lightning-record-edit-form>
    
</template>
